<!-- ask page header -->
<div class="header">
  <h1>Coach AMA</h1>
</div>

<!-- user question form -->
<div class="form-container">
  <form action="answer">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
</div>
